includes:
    - vendor/pixidos/coding-standards/src/phpstan.neon
    - vendor/phpstan/phpstan-nette/extension.neon
    - vendor/phpstan/phpstan-nette/rules.neon

parameters:
    excludePaths:
        - tests/bootstrap.php
    paths:
        - src
    level: max
    inferPrivatePropertyTypeFromConstructor: true
    reportUnmatchedIgnoredErrors: false

    ignoreErrors:
        - '#Constant TEMP_DIR not found\.#'
        - '#Pixidos\\GPWebPay\\Components\\GPWebPayControl::__construct\(\) does not call parent constructor from Nette\\ComponentModel\\Component\.#'
        -
            message: '#Call to function is_object\(\) with array will always evaluate to false\.#'
            path: src/DI/GPWebPayExtension.php
