includes:
    - vendor/pixidos/coding-standards/phpstan.neon
    - vendor/phpstan/phpstan-nette/extension.neon
    - vendor/phpstan/phpstan-nette/rules.neon

parameters:
    autoload_files:
        - vendor/autoload.php
    excludes_analyse:
        - tests/bootstrap.php
    paths:
        - src
        - tests
    level: max
    inferPrivatePropertyTypeFromConstructor: true

    ignoreErrors:
        - '#Constant TEMP_DIR not found\.#'
