php:
    date.timezone: Europe/Prague

http:
    frames: null

session:
    autoStart: false

application:
    scanDirs: false
    mapping:
        *: GPWebPay\Tests\*Presenter

services:
    router: Nette\Application\Routers\SimpleRouter

    cacheStorage:
        class: Nette\Caching\Storages\MemoryStorage
